@@@@Name
Blank Game
@@@@Description
A blank game for you to do whatever you want with!
@@@@Icon
NULL
@@@@Resfolder
Resources
@@@@SpritesFolder
Resources\Sprites
@@@@SoundsFolder
Resources\Sounds
@@@@RoomsFolder
Resources\Rooms
@@@@ObjectsFolder
Resources\Objects
@@@@MusicFolder
Resources\Music
@@@@LevelsFolder
Resources\Levels